.flex1
{
    margin-left: 20px;
    margin-top: 10px;
    display:flex;
    align-items:center;
}
.flex2
{
    margin-left: 40px;
    margin-top: 10px;
    display:flex;
    align-items:center;
}
.flex3
{
    margin-top: 10px;
    display:flex;
    align-items:center;
}
.flex4
{
    margin-top: 10px;
    margin-left: 170px;
    display:flex;
    align-items:center;
}

.box{
    background:white;
    width:600px;
    height: 200px;
    margin-left:30%;
    margin-top: 10%;
    color:white;
    border-radius: 1px;
}
.tab
{ 
    padding:5px;
    border-radius: 2px;
    background-color: maroon;
    margin-left: 10px;
}